* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}


body {
    font-family: var(--font-body);
    font-size: var(--text-base);
    background-color: var(--color-bg);
    color: var(--color-text);
}

.logo {
    display: block;
    font-family: var(--font-heading);
    font-size: var(--text-3xl);
    color: var(--color-primary);
    font-weight: 400;
    line-height: 1.3;
}